## Inner Merge

We frequently distribute relevant data across several tables in order to store it effectively.
For this tutorial, we will be using some datasets from an e-commerce business and we have three datasets namely Sales and Targets.

we can Inner merge two tables using merge() function and the merge function will look for the common column.

In [12]:
import pandas as pd

movie_titles = pd.read_csv('E:\GenAI-Learn\Python\BroCode_Python_Learn\movie_titles.csv')
Userbase = pd.read_csv('E:\GenAI-Learn\Python\BroCode_Python_Learn\\Netflix_Userbase.csv')
print(movie_titles.head(5))

print('*******************************************************************************')

print(Userbase.head(5))

   User ID  Year                          Name
0        1  2003               Dinosaur Planet
1        2  2004    Isle of Man TT 2004 Review
2        3  1997                     Character
3        4  1994  Paula Abdul's Get Up & Dance
4        5  2004      The Rise and Fall of ECW
*******************************************************************************
   User ID Subscription Type  Monthly Revenue Join Date Last Payment Date  \
0        1             Basic               10  15/01/22           10/6/23
1        2           Premium               15    5/9/21          22/06/23
2        3          Standard               12  28/02/23          27/06/23
3        4          Standard               12   10/7/22          26/06/23
4        5             Basic               10    1/5/23          28/06/23

          Country  Age  Gender      Device Plan Duration
0   United States   28    Male  Smartphone       1 Month
1          Canada   35  Female      Tablet       1 Month
2  United Kingdom   42    Male    Smart TV       1 Month
3       Australia   51  Female      Laptop       1 Month
4         Germany   33    Male  Smartphone       1 Month

In [23]:
movie_titles_vs_Userbase = pd.merge(movie_titles, Userbase)
print(movie_titles_vs_Userbase.head(5))
list1 =movie_titles_vs_Userbase.columns.tolist()
print(list1)

   User ID  Year                          Name Subscription Type  \
0        1  2003               Dinosaur Planet             Basic
1        2  2004    Isle of Man TT 2004 Review           Premium
2        3  1997                     Character          Standard
3        4  1994  Paula Abdul's Get Up & Dance          Standard
4        5  2004      The Rise and Fall of ECW             Basic

   Monthly Revenue Join Date Last Payment Date         Country  Age  Gender  \
0               10  15/01/22           10/6/23   United States   28    Male
1               15    5/9/21          22/06/23          Canada   35  Female
2               12  28/02/23          27/06/23  United Kingdom   42    Male
3               12   10/7/22          26/06/23       Australia   51  Female
4               10    1/5/23          28/06/23         Germany   33    Male

       Device Plan Duration
0  Smartphone       1 Month
1      Tablet       1 Month
2    Smart TV       1 Month
3      Laptop       1 Month
4  Smartphone       1 Month
['User ID', 'Year', 'Name', 'Subscription Type', 'Monthly Revenue', 'Join Date', 'Last Payment Date', 'Country', 'Age', 'Gender', 'Device', 'Plan Duration']